aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
cffi==1.13.2
chardet==3.0.4
cryptography==2.8
future==0.18.2
idna==2.8
multidict==4.7.4
pycparser==2.19
pyparsing==2.3.1
pyserial==3.4
six==1.13.0
yarl==1.4.2
